.app-shell {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures the background covers the full window height even if content is short */
  background-color: hsl(240, 100%, 20%); /* Replace with your choice of color */
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}